<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>reivilo.embedXcode.xcode4.test</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an embedded computing sketch for Arduino 1.0.</string>
	<key>SorterOrder</key>
	<integer>1</integer>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>AllowedTypes</key>
	<array>
		<string>public.c-header</string>
		<string>public.c-plus-plus.source</string>
		<string>public.c-source</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.base</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>main.cpp</key>
		<dict>
			<key>Path</key>
			<string>main.cpp</string>
		</dict>
		<key>Makefile</key>
		<dict>
			<key>Path</key>
			<string>Makefile</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>README.txt</key>
		<dict>
			<key>Path</key>
			<string>README.txt</string>
			<key>Group</key>
			<string>About</string>
		</dict>
		<key>LocalLibrary.h</key>
		<dict>
			<key>Path</key>
			<string>LocalLibrary.h</string>
		</dict>
		<key>___PACKAGENAME___.ino</key>
		<dict>
			<key>AllowedTypes</key>
			<string>public.c-plus-plus-source</string>
			<key>Path</key>
			<string>___PACKAGENAME___.ino</string>
		</dict>
		<key>LocalLibrary.cpp</key>
		<dict>
			<key>Path</key>
			<string>LocalLibrary.cpp</string>
		</dict>
		<key>Config/Wiring S.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/Wiring S.xcconfig</string>
		</dict>
		<key>Config/LaunchPad with msp430g2231.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/LaunchPad with msp430g2231.xcconfig</string>
		</dict>
		<key>Config/LaunchPad with msp430g2452.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/LaunchPad with msp430g2452.xcconfig</string>
		</dict>
		<key>Config/LaunchPad with msp430g2553.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/LaunchPad with msp430g2553.xcconfig</string>
		</dict>
		<key>Config/Arduino mega2560.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/Arduino mega2560.xcconfig</string>
		</dict>
		<key>Config/Arduino mini pro.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/Arduino mini pro.xcconfig</string>
		</dict>
		<key>Config/Arduino UNO.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/Arduino UNO.xcconfig</string>
		</dict>
		<key>Config/chipKIT UNO32.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/chipKIT UNO32.xcconfig</string>
		</dict>
		<key>Config/Sparkfun UNO.xcconfig</key>
		<dict>
			<key>Group</key>
			<string>Config</string>
			<key>Path</key>
			<string>Config/Sparkfun UNO.xcconfig</string>
		</dict>
		<key>Makefiles/Arduino.mk</key>
		<dict>
			<key>Group</key>
			<string>Makefiles</string>
			<key>Path</key>
			<string>Makefiles/Arduino.mk</string>
		</dict>
		<key>Makefiles/Avrdude.mk</key>
		<dict>
			<key>Path</key>
			<string>Makefiles/Avrdude.mk</string>
			<key>Group</key>
			<string>Makefiles</string>
		</dict>
		<key>Makefiles/Step1.mk</key>
		<dict>
			<key>Path</key>
			<string>Makefiles/Step1.mk</string>
			<key>Group</key>
			<string>Makefiles</string>
		</dict>
		<key>Makefiles/Step2.mk</key>
		<dict>
			<key>Path</key>
			<string>Makefiles/Step2.mk</string>
			<key>Group</key>
			<string>Makefiles</string>
		</dict>
		<key>About/README_mjo_tc.txt</key>
		<dict>
			<key>Group</key>
			<string>About</string>
			<key>Path</key>
			<string>About/README_mjo_tc.txt</string>
		</dict>
		<key>About/README_peplin.txt</key>
		<dict>
			<key>Group</key>
			<string>About</string>
			<key>Path</key>
			<string>About/README_peplin.txt</string>
		</dict>
		<key>About/References.txt</key>
		<dict>
			<key>Group</key>
			<string>About</string>
			<key>Path</key>
			<string>About/References.txt</string>
		</dict>
		<key>About/Licence CC BY-NC-SA.txt</key>
		<dict>
			<key>Group</key>
			<string>About</string>
			<key>Path</key>
			<string>About/Licence CC BY-NC-SA.txt</string>
		</dict>
		<key>About/Licence GNU LGPL.txt</key>
		<dict>
			<key>Group</key>
			<string>About</string>
			<key>Path</key>
			<string>About/Licence GNU LGPL.txt</string>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.cpp</string>
		<string>___PACKAGENAME___.ino</string>
		<string>LocalLibrary.h</string>
		<string>LocalLibrary.cpp</string>
		<string>Config/Arduino mega2560.xcconfig</string>
		<string>Config/Arduino mini pro.xcconfig</string>
		<string>Config/Arduino UNO.xcconfig</string>
		<string>Config/chipKIT UNO32.xcconfig</string>
		<string>Config/LaunchPad with msp430g2231.xcconfig</string>
		<string>Config/LaunchPad with msp430g2452.xcconfig</string>
		<string>Config/LaunchPad with msp430g2553.xcconfig</string>
		<string>Config/Sparkfun UNO.xcconfig</string>
		<string>Config/Wiring S.xcconfig</string>
		<string>Makefile</string>
		<string>Makefiles/Step1.mk</string>
		<string>Makefiles/Step2.mk</string>
		<string>Makefiles/Arduino.mk</string>
		<string>Makefiles/Avrdude.mk</string>
		<string>README.txt</string>
		<string>About/References.txt</string>
		<string>About/README_peplin.txt</string>
		<string>About/README_mjo_tc.txt</string>
		<string>About/Licence GNU LGPL.txt</string>
		<string>About/Licence CC BY-NC-SA.txt</string>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict/>
			<key>Release</key>
			<dict/>
		</dict>
		<key>BasedOn</key>
		<dict>
			<key>Debug</key>
			<string>Config/Arduino UNO.xcconfig</string>
			<key>Release</key>
			<string></string>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>PATH</key>
			<string>$(PATH):$(PROJECT_DIR)</string>
			<key>PRODUCT_NAME</key>
			<string>$(TARGET_NAME)</string>
			<key>SKETCHBOOK_DIR</key>
			<string></string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.tool</string>
			<key>Name</key>
			<string>Index</string>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict/>
				<key>Release</key>
				<dict/>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Boards</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolArgsString</key>
			<string>boards -C $(PROJECT)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>All</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolArgsString</key>
			<string>all -C $(PROJECT)</string>
			<key>CustomBuildSettings</key>
		<dict>
				<key>BuildToolDirectory</key>
				<string>$(PROJECT)</string>
				<key>BuildWorkingDirectory</key>
				<string>$(PROJECT)</string>
				<key>BuildToolWorkingDirectory</key>
				<string>$(PROJECT)</string>
				<key>BuildToolWorkingDir</key>
				<string>$(PROJECT)</string>
			</dict>
		</dict>
		<dict>
			<key>Name</key>
			<string>Serial</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>serial -C $(PROJECT)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Upload</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>upload -C $(PROJECT)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Clean</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>clean -C $(PROJECT)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Make</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>make -C $(PROJECT)</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Build</string>
			<key>TargetType</key>
			<string>Legacy</string>
			<key>BuildToolPath</key>
			<string>make</string>
			<key>BuildToolArgsString</key>
			<string>build -C $(PROJECT)</string>
		</dict>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>Arduino UNO</string>
			<key>Description</key>
			<string>Which board to compile for and upload the sketch to</string>
			<key>Identifier</key>
			<string>targetBoardConfigName</string>
			<key>Name</key>
			<string>Board</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Wiring S</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/Wiring S.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>Arduino mega2560</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/Arduino mega2560.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>LaunchPad with msp430g2231</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/LaunchPad with msp430g2231.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>LaunchPad with msp430g2452</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/LaunchPad with msp430g2452.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>LaunchPad with msp430g2553</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/LaunchPad with msp430g2553.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>Sparkfun Uno</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/Sparkfun Uno.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>Arduino UNO</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/Arduino UNO.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>chipKIT UNO32</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/chipKIT UNO32.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
				<key>Arduino mini pro</key>
				<dict>
					<key>Project</key>
					<dict>
						<key>BasedOn</key>
						<dict>
							<key>Debug</key>
							<string>Config/Arduino mini pro.xcconfig</string>
							<key>Release</key>
							<string></string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
